/*------------------------------------*\
  #Default settings
\*------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
}

img {
  width: 100%;
  height: auto;
}





/*------------------------------------*\
  #Animation classes
\*------------------------------------*/

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in 150ms;
}

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}